body {
    background-color: #f1ebe3;
    text-align: center;
    display: flex;
    justify-content: center;
    

}

section {
    text-align: center;
    background: white;
    border: 1.5px solid #d9a066;
    border-radius: 12px;
    width: 500px;
    padding: 30px;
}

h1{
    color: rgb(85, 3, 3);
}
h2{
    color: darkgoldenrod;
}
h3{
    color: darkgoldenrod;
}

ol, ul {
    text-align: left;
    display: inline-block;
}

